<section class="content-header">
  <div class="container-fluid">
    <div class="row mb-2">
      <div class="col-sm-6">
        <h1>{{title}}</h1>
      </div>
      <div class="col-sm-6">
        <ol class="breadcrumb float-sm-right">
          <li class="breadcrumb-item"><a routerLink="/dashboard">Inicio</a></li>
          <li class="breadcrumb-item active">{{title}}</li>
        </ol>
      </div>
    </div>
  </div>
</section>
<section class="content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <div class="card card-info card-outline">
          <form #createCupoForm="ngForm" (ngSubmit)="onSubmit(createCupoForm)">
            <div class="card-body">
              <div class="row">
                <div class="col-md-12">
                  <div *ngIf="establecimientos !== null" class="form-group btn-sm">
                    <label><small class="requeridos">☼</small> Seleccione Establecimiento:</label>
                    <div class="input-group">
                      <div class="input-group-prepend ">
                        <span class="input-group-text"><i class="fas fa-building "></i></span>
                      </div>
                      <ng-select #establecimiento_id="ngModel"
                                 [(ngModel)]="cupo.establecimiento_id"
                                 [items]="establecimientos"
                                 bindLabel="nombre"
                                 bindValue="id" class="custom"
                                 name="establecimiento_id"
                                 required
                                 style="width: 86%;">
                      </ng-select>
                      <small *ngIf="!establecimiento_id.valid && establecimiento_id.touched"
                             class="invalid-feedback d-block"> Campo
                        Obligatorio</small>
                    </div>
                  </div>
                  <div *ngIf="paquetes !== null" class="form-group btn-sm">
                    <label><small class="requeridos">☼</small> Seleccione Paquete:</label>
                    <div class="input-group">
                      <div class="input-group-prepend ">
                        <span class="input-group-text"><i class="fas fa-box-open"></i></span>
                      </div>
                      <ng-select #paquete_id="ngModel"
                                 [(ngModel)]="cupo.paquete_id"
                                 [items]="paquetes"
                                 bindLabel="cupo"
                                 bindValue="id" class="custom"
                                 name="paquete_id"
                                 click="paq(cupo.paquete_id)"
                                 required
                                 style="width: 86%;">
                      </ng-select>
                      <small *ngIf="!paquete_id.valid && paquete_id.touched"
                             class="invalid-feedback d-block"> Campo
                        Obligatorio</small>
                    </div>
                  </div>
                  <!-- <div class="form-group btn-sm">
                    <label> <small class="requeridos">☼</small> Carga:</label>
                    <div class="input-group">
                      <div class="input-group-prepend">
                        <span class="input-group-text"><i class="fas fa-newspaper"></i></span>
                      </div>
                      <input #carga="ngModel" [(ngModel)]="cupo.carga" class="form-control" name="carga" required
                             type="number">
                      <small *ngIf="!carga.valid && carga.touched" class="invalid-feedback d-block"> El carga es
                        obligatorio</small>
                    </div>
                  </div> -->
                  <div class="form-group btn-sm">
                    <label>Fecha Fin:</label>
                    <div class="input-group">
                      <div class="input-group-prepend">
                        <span class="input-group-text"><i class="far fa-calendar-alt "></i></span>
                      </div>
                      <input #fecha_fin="ngModel" [(ngModel)]="cupo.fecha_fin" class="form-control"
                             name="fecha_fin"
                             type="date"
                             required>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <br>   
            <div class="contenedor-div botones-abajo-derecha">
                      <button [disabled]="!createCupoForm.form.valid" class="btn btn-success btn-sm" type="submit">
                        <i class="fas fa-save"></i>&nbsp;&nbsp; {{title}} </button>
                      &nbsp;&nbsp; &nbsp;&nbsp;
                      <button class="btn btn-danger btn-sm" routerLink="/cupo" type="button">
                        <i class="fas fa-arrow-left"></i>&nbsp;&nbsp; Cancelar
                      </button>
                    </div>
                    <br>
          </form>
        </div>
      </div>
    </div>
  </div>
</section>
