<ion-header  class="ion-text-center" color="tertiary" >
  <ion-toolbar color="tertiary" >
    <ion-title>
      Nuestros Anuncios
    </ion-title>
  </ion-toolbar>
</ion-header>


<ion-content>
  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  <ion-card *ngFor="let noticia of noticias">
    <ion-item>
      <ion-avatar item-start>
        <ion-img  *ngIf="noticia.logo" class="tlogo" [src]="base + 'empresa/logo/' + noticia.logo" style="height: 35px;"></ion-img>
      </ion-avatar>
      &nbsp;&nbsp;
      <h5>{{noticia.titulo}}</h5>
    </ion-item>
    <ion-img  *ngIf="noticia.image" class="tamanio-img" [src]="base + 'noticia/imagen/' +noticia.image" ></ion-img>
    <ion-card-content>
      <p>{{noticia.detalle}}</p>
    </ion-card-content>
    <!-- <ion-row>
      <ion-col>
        <button ion-button icon-start clear small>
          <ion-icon name="thumbs-up"></ion-icon>
          <div>12 Likes</div>
        </button>
      </ion-col>
      <ion-col>
        <button ion-button icon-start clear small>
          <ion-icon name="text"></ion-icon>
          <div>4 Comments</div>
        </button>
      </ion-col>
      <ion-col align-self-center text-center>
        <ion-note>
          11h ago
        </ion-note>
      </ion-col>
    </ion-row> -->
  </ion-card>
</ion-content>  

