<ion-content>
  <ion-infinite-scroll threshold="100px" (ionInfinite)="loadData($event)">
    <ion-infinite-scroll-content>
      <ion-slides class="mainSlide" #slidePrincipal>
        <ion-slide>
            <ion-grid fixed>
              <ion-row>
                <ion-col>
                  <br><br>
                  <ion-img class="tamanio" src="/assets/avatars/av-1.png"></ion-img>
                  <br><br>
                </ion-col>
              </ion-row>
              <ion-row>
                <ion-card-header>
                  <ion-card-subtitle>¿Encuentranos en?</ion-card-subtitle>
                </ion-card-header>
              </ion-row>
              <ion-row *ngIf="establecimientos">
                <ion-grid  fixed>
                  <ion-row>
                    <ion-col size="4"
                     *ngFor="let estab of establecimientos; let i = index ">
                      <ion-img  *ngIf="estab.logo" class="tlogo" [src]="base + 'empresa/logo/' + estab.logo" ></ion-img>
                    </ion-col>
                  </ion-row>
                </ion-grid>
              </ion-row>
              <ion-row>
                  <ion-card-header>
                    <ion-card-subtitle>¿Qué es CodyPass?</ion-card-subtitle>
                  </ion-card-header>
                  <ion-card-content>
                    Con codypass podras acceder a todos los establecimientos afiliados, de forma organizada 
                    y manteniendo el control de aforo adecuado precautelando tu protección.
                    <br>
                    Recuerda 
                    Presentar tu código a la entrada y salida del establecimiento<br><br>
                    <a href="https://www.dtmowed.com/" target="_blanck">dtmowed.com</a>&nbsp;&nbsp;
                    <a href="https://www.codylife.com.ec/" target="_blanck">codylife.com.ec</a>
                  </ion-card-content>
              </ion-row>
            </ion-grid>
        </ion-slide>
        <ion-slide>
          <form (ngSubmit)="login(fLogin)" #fLogin="ngForm">
            <ion-grid fixed>
              <ion-row>
                <ion-col><br><br> 
                  <ion-img class="tamanio" src="/assets/avatars/av-1.png"></ion-img>
                  <br><br>
                  <br><br>
                </ion-col>
              </ion-row>
              <ion-row>
                <ion-col>
                  <ion-list>
                    <ion-item>
                      <ion-label>Email (Usuario): </ion-label>
                      <ion-input  name="cuenta"  type="text"  #cuenta="ngModel"  [(ngModel)]="usuario.cuenta" required></ion-input>
                    </ion-item>
                    <ion-item>
                      <ion-label>Contraseña: </ion-label>
                      <ion-input
                        [type]="passwordType"
                        name="password"
                        #password="ngModel"
                        [(ngModel)]="usuario.password"
                        required
                      ></ion-input>
                      <ion-icon
                        name="eye"
                        item-right
                        (click)="togglePasswordMode()"
                      ></ion-icon>
                    </ion-item>
                  </ion-list>
                </ion-col>
              </ion-row>
              <ion-row>
                <ion-col>
                  <br><br>
                  <br><br>
                  <ion-button type="submit" color="tertiary" shape="round">
                    Iniciar sesión
                  </ion-button>
                </ion-col>
              </ion-row>
            </ion-grid>
          </form>
        </ion-slide>
        <ion-slide>
          <form (ngSubmit)="registro(fRegistro)" #fRegistro="ngForm">
            <ion-grid fixed>
              <ion-row>
                <ion-col><br><br> 
                  <ion-img class="tamanio" src="/assets/avatars/av-1.png"></ion-img>
                  <br><br>
                </ion-col>
              </ion-row>
              <ion-row>
                <ion-col>
                  <ion-list>
                    <ion-item>
                      <ion-label>Nombre Completo: </ion-label>
                      <ion-input  name="nombre"  type="text"  #nombre="ngModel"  [(ngModel)]="registr.nombre"  required></ion-input>
                    </ion-item>
                    <ion-item>
                      <ion-label>Email (Usuario): </ion-label>
                      <ion-input  name="cuenta"  type="text"  #cuenta="ngModel"  [(ngModel)]="registr.cuenta" required></ion-input>
                    </ion-item>
                    <ion-item>
                      <ion-label>Celular: </ion-label>
                      <ion-input  name="telefono"  type="number"  #telefono="ngModel"  [(ngModel)]="registr.telefono" required></ion-input>
                    </ion-item>
                    <ion-item>
                      <ion-label>Contraseña: </ion-label>
                      <ion-input  [type]="passwordType"  name="password"  #password="ngModel"  [(ngModel)]="registr.password"  required></ion-input>
                      <ion-icon  name="eye"  item-right  (click)="togglePasswordMode()"></ion-icon>
                    </ion-item>
                    <br>
                    <ion-item>
                      <ion-checkbox name="aceptacion"  #aceptacion="ngModel"  [(ngModel)]="registr.aceptacion" required></ion-checkbox> &nbsp;&nbsp;
                      <small><a href="https://dtmowed.com/privacy-policy/" target="_blanck">Acepto los términos, condiciones y la política de privacidad.</a>
                        </small>
                    </ion-item>
                  </ion-list>
                </ion-col>
              </ion-row>
              <ion-row>
                <ion-col>
                  <br><br>
                  <ion-button type="submit" color="tertiary" shape="round" [disabled]="fRegistro.form.invalid">
                    Registrarte
                  </ion-button>
                  <br><br>
                </ion-col>
              </ion-row>
            </ion-grid>
          </form>
        </ion-slide>
      </ion-slides>
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>
<ion-footer no-border>
  <ion-toolbar>
    <ion-row>
      <ion-col>
        <ion-button
          size="small"
          fill="outline"
          color="tertiary"
          (click)="nosotros()"
        >
        <ion-icon name="home"></ion-icon>
        </ion-button>
      </ion-col>
      <ion-col>
        <ion-button
          shape="round"
          expand="full"
          size="small"
          fill="outline"
          color="tertiary"
          (click)="mostrarRegistro()"
        >
          Ingresar
        </ion-button>
      </ion-col>
      <ion-col>
        <ion-button
          shape="round"
          expand="full"
          size="small"
          fill="outline"
          color="tertiary"
          (click)="mostrarlogin()"
        >
          Registrarme
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-toolbar>
</ion-footer>
