<!-- Content Header (Page header) -->
<section class="content-header">
    <div class="container-fluid">
      <div class="row mb-2">
        <div class="col-sm-6">
          <h1>{{title}}</h1>
        </div>
        <div class="col-sm-6">
          <ol class="breadcrumb float-sm-right">
            <li class="breadcrumb-item"><a routerLink="/">Inicio</a></li>
            <li class="breadcrumb-item active">{{title}}</li>
          </ol>
        </div>
      </div>
    </div>
  </section>

  <!-- Main content -->
  <section class="content">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-12">
          <div class="card card-info card-outline">
            <form #createBeneficioForm="ngForm" (ngSubmit)="onSubmit(createBeneficioForm)">
              <div class="card-body">
                <div class="container-fluid">
                  <div class="row">
                    <div class="col-md-9">       
                      <div class="form-group btn-sm" *ngIf="empresas !== null">
                        <label> <small class="requeridos">☼</small>  Empresas:</label>    
                        <div class="input-group">
                          <div class="input-group-prepend">
                            <span class="input-group-text"><i class="fas fa-building"></i></span>
                          </div>
                          <ng-select [items]="empresas"
                            class="custom"
                            style="width: 90%;"
                            name="empresa_id"
                            #empresa_id="ngModel" [(ngModel)]="beneficio.empresa_id"
                            bindLabel="nombre"
                            bindValue="empresa_id">
                            </ng-select>
                          <small *ngIf="!empresa_id.valid && empresa_id.touched" class="invalid-feedback d-block"> El empresa no es
                          valida</small>
                        </div>
                      </div>
                      <div class="form-group btn-sm">
                        <label> <small class="requeridos">☼</small>  Beneficio:</label>    
                        <div class="input-group">
                          <div class="input-group-prepend">
                            <span class="input-group-text"><i class="fas fa-building"></i></span>
                          </div>
                          <input type="text" name="nombre" class="form-control" #nombre="ngModel" [(ngModel)]="beneficio.nombre" required>
                        <small *ngIf="!nombre.valid && nombre.touched" class="invalid-feedback d-block"> El nombre no es
                          valida</small>
                        </div>
                      </div>
                      <div class="form-group btn-sm" *ngIf="title === 'Editar Beneficio'">
                        <label><small class="requeridos">☼</small>  Seleccione Estado:</label>    
                        <div class="input-group">
                          <label class="container">Estado
                            <input  type="checkbox" checkbox="true" name="estado"  #estado="ngModel" [(ngModel)]="beneficio.estado">
                            <span class="checkmark"></span>
                          </label>
                        </div>
                      </div>
                     
                    </div>
                    <div class="col-md-3 text-center">   
                      <img class="card-img-top" src="assets/img/beneficios.jpg" alt="Card image cap" width="100%">
                    </div>
                   
                    <div class="contenedor-div botones-abajo-derecha">
                      <button type="submit" class="btn btn-success btn-sm" [disabled]="!createBeneficioForm.form.valid">
                        <i class="fas fa-save"></i>&nbsp;&nbsp; {{title}} </button>
                        &nbsp;&nbsp; &nbsp;&nbsp;
                      <button type="button" class="btn btn-danger btn-sm" routerLink="/beneficios">
                      <i class="fas fa-arrow-left"></i>&nbsp;&nbsp; Cancelar</button>
                    </div>
                  </div>
                </div>
              </div> 
             
            </form>
          </div>
        </div>
        <!-- /.col -->
      </div>
      <!-- /.row -->
    </div>
    <!-- /.container-fluid -->
  </section>