<!-- Content Header (Page header) -->
<section class="content-header">
    <div class="container-fluid">
      <div class="row mb-2">
        <div class="col-sm-6">
          <h1>{{title}}</h1>
        </div>
        <div class="col-sm-6">
          <ol class="breadcrumb float-sm-right">
            <li class="breadcrumb-item"><a routerLink="/">Inicio</a></li>
            <li class="breadcrumb-item active">{{title}}</li>
          </ol>
        </div>
      </div>
    </div>
  </section>

  <!-- Main content -->
  <section class="content">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-12">
          <div class="card card-info card-outline">

            <form #createProductoForm="ngForm" (ngSubmit)="onSubmit(createProductoForm)">
              <div class="card-body">
                <div class="container-fluid">
                  <div class="row">
                    <div class="col-md-4"> 
                        <div class="form-group" *ngIf="empresas !== null">
                            <label><small class="requeridos">☼</small> Seleccione una Empresa:</label>    
                            <div class="input-group">
                              <div class="input-group-prepend ">
                                <span class="input-group-text"><i class="fas fa-building "></i></span>
                              </div>
                              <ng-select [items]="empresas"
                                class="custom"
                                style="width: 86%;"
                                name="empresa_id"
                                #empresa_id="ngModel" [(ngModel)]="producto.empresa_id"
                                bindLabel="nombre"
                                bindValue="empresa_id">
                                </ng-select>
                              <small *ngIf="!empresa_id.valid && empresa_id.touched" class="invalid-feedback d-block"> Seleccione una empresa</small>
                            </div>
                          </div>      
                      <div class="form-group">
                        <label><small class="requeridos">☼</small> Nombre Producto:</label>    
                        <div class="input-group">
                          <div class="input-group-prepend">
                            <span class="input-group-text"><i class="fas fa-cart-plus "></i></span>
                          </div>
                          <input type="text" name="nombre" class="form-control" #nombre="ngModel" [(ngModel)]="producto.nombre" required>
                        <small *ngIf="!nombre.valid && nombre.touched" class="invalid-feedback d-block"> El nombre no es
                          valido</small>
                        </div>
                      </div>
                      <div class="form-group">
                        <label><small class="requeridos">☼</small> Descripción:</label>    
                        <div class="input-group">
                          <div class="input-group-prepend">
                            <span class="input-group-text"><i class="fas fa-ad"></i></span>
                          </div>
                          <input type="text" name="descripcion" class="form-control" #descripcion="ngModel" [(ngModel)]="producto.descripcion">
                        </div>
                      </div>
                      <div class="form-group" *ngIf="presentaciones !== null">
                        <label><small class="requeridos">☼</small> Se vende por:</label>    
                        <div class="input-group">
                          <div class="input-group-prepend">
                            <span class="input-group-text"><i class="fas fa-boxes "></i></span>
                          </div>
                          <ng-select [items]="presentaciones"
                            class="custom"
                            style="width: 86%;"
                            name="presentacion_id"
                            #presentacion_id="ngModel" [(ngModel)]="producto.presentacion_id"
                            bindLabel="abreviatura"
                            bindValue="presentacion_id">
                            </ng-select>
                          <small *ngIf="!presentacion_id.valid && presentacion_id.touched" class="invalid-feedback d-block"> Seleccione una presentacion</small>
                        </div>
                      </div>                        
                    </div>
                    <div class="col-md-4">
                      <div class="form-group">
                        <label><small class="requeridos">☼</small> Valor:</label>    
                        <div class="input-group">
                          <div class="input-group-prepend">
                            <span class="input-group-text"><i class="fas fa-money "></i></span>
                          </div>
                          <input type="number" name="valor" class="form-control" #valor="ngModel" [(ngModel)]="producto.valor" pattern="^\d*(\.\d{0,2})?$" required>
                          <small *ngIf="!valor.valid && valor.touched" class="invalid-feedback d-block"> El valor no es valido</small>
                        </div>
                      </div>
                      <div class="form-group">
                        <label>Stock:</label>    
                        <div class="input-group">
                          <div class="input-group-prepend">
                            <span class="input-group-text"><i class="fas fa-boxes"></i></span>
                          </div>
                          <input type="number" name="stock" class="form-control" #stock="ngModel" [(ngModel)]="producto.stock"pattern="^[0-9]+" >
                          <small *ngIf="!stock.valid && stock.touched" class="invalid-feedback d-block"> El stock no es valido</small>
                        </div>
                      </div>
                      <div class="form-group">
                        <label>Cantidad:</label>    
                        <div class="input-group">
                          <div class="input-group-prepend">
                            <span class="input-group-text"><i class="fas fa-chart-area"></i></span>
                          </div>
                          <input type="number" name="cantidad" class="form-control" #cantidad="ngModel" [(ngModel)]="producto.cantidad"pattern="^[0-9]+" >
                          <small *ngIf="!cantidad.valid && cantidad.touched" class="invalid-feedback d-block"> El cantidad no es valido</small>
                        </div>
                      </div>
                      <div *ngIf=" title === 'Editar Producto'" class="form-group" >
                        <label>Seleccione Estado:</label>    
                        <div class="input-group">
                          <label class="container">Estado
                            <input  type="checkbox" checkbox="true" name="estado"  #estado="ngModel" [(ngModel)]="producto.estado">
                            <span class="checkmark"></span>
                          </label>
                        </div>
                      </div>

                    </div>
                    <div class="col-md-4">
                      <div class="form-group">
                        <label for="logo">Seleccione Imagen:</label>
                        <angular-file-uploader [config]="afuConfig" [resetUpload]=resetVar
                          (ApiResponse)="avatarUpload($event)">
                        </angular-file-uploader>
                      </div> 

                      <div class="contenedor-div botones-abajo-derecha">
                        <button type="submit" class="btn btn-success btn-sm" [disabled]="!createProductoForm.form.valid">
                          <i class="fas fa-save"></i>&nbsp;&nbsp; {{title}} </button>
                          &nbsp;&nbsp; &nbsp;&nbsp;
                        <button type="button" class="btn btn-danger btn-sm" routerLink="/producto">
                        <i class="fas fa-arrow-left"></i>&nbsp;&nbsp; Cancelar</button>
                      </div>

                    </div>
                  </div>
                </div>
              </div> 
             
            </form>
          </div>
        </div>
        <!-- /.col -->
      </div>
      <!-- /.row -->
    </div>
    <!-- /.container-fluid -->
  </section>