<aside #mainSidebar class="main-sidebar sidebar-light-dark elevation-4">
  <!-- Brand Logo -->
  <a [routerLink]="['/dashboard']" class="brand-link">
    <img
      src="assets/img/log.png"
      alt="Logo DTM READY" width="55px"
    />
    &nbsp;&nbsp;
    <span class="brand-text font-weight-light">Running Time</span>
  </a>

  <!-- Sidebar -->
  <div class="sidebar">
    <!-- Sidebar user (optional) -->
    <div class="user-panel mt-3 pb-3 mb-3 d-flex">
      <div class="image" *ngIf="identity && identity.image">
        <img
        src="{{base + 'user/avatar/' + identity.image}}"
          class="img-circle elevation-2"
          alt="User Image"
        />
      </div>
      <div class="info">
        {{identity.nombre}}
      </div>
    </div>

    <!-- Sidebar Menu -->
    <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
      <li class="nav-item">
        <a [routerLink]="['/dashboard']" class="nav-link">
          <i class="nav-icon fas fa-tachometer-alt"></i>
          <p>
            Inicio
            <span class="right badge badge-success">To work</span>
          </p>
        </a>
      </li>
      <li class="nav-item">
        <a [routerLink]="['/qr']" class="nav-link">
          <i class="nav-icon fas fa-qrcode"></i>
          <p>
             Código QR
            <i class="right fas fa-angle-right"></i>
          </p>
        </a>
      </li>
      <li class="nav-header">Historial</li>
      <li class="nav-item">
        <a [routerLink]="['/beneficios']" class="nav-link">
          <i class="nav-icon fas fa-address-card"></i>
          <p> 
            Reporte
            <i class="right fas fa-angle-right"></i>
          </p>
        </a>
      </li>

    </ul>

  </div>
</aside>
