<aside #mainSidebar class="main-sidebar sidebar-light-dark elevation-4">
    <a [routerLink]="['/dashboard']" class="brand-link">
      <img
        src="assets/img/log.png"
        alt="Logo DTM READY" height="40px"
      />
      &nbsp;&nbsp;
      RunningTime
    </a>
  <div class="sidebar">

    <div class="user-panel mt-3 pb-3 mb-3 d-flex">
      <div class="image" *ngIf="identity && identity.image">
        <img
          src="{{base + 'user/avatar/' + identity.image}}"
          class="img-circle elevation-2"
          alt="User Image"
        />
      </div>
      <div class="image" *ngIf="identity.image === '' || identity.image === null">
        <img
          src="assets/img/us.jpg"
          class="img-circle elevation-2"
          alt="User Image"
        />
      </div>
      <div class="info">
        {{identity.nombre}}
      </div>
    </div>

    <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
      <li class="nav-item">
        <a [routerLink]="['/dashboard']" class="nav-link">
          <i class="fas fa-tachometer-alt"></i>
          <p>&nbsp;&nbsp;
            Inicio
            <span class="right badge badge-success">Scanner QR</span>
          </p>
        </a>
      </li>
      <div *ngIf="identity.cargo_id != 3">
        <li class="nav-item">
          <a [routerLink]="['/qr']" class="nav-link">
            <i class="fas fa-qrcode"></i>
            <p>&nbsp;&nbsp;
              Código QR
              <i class="right fas fa-angle-right"></i>
            </p>
          </a>
        </li>
        <li class="nav-header">Administración</li>
        <div *ngIf="identity.cargo_id === 1">
          <li class="nav-item">
            <a [routerLink]="['/empresa']" class="nav-link">
              <i class="fas fa-building"></i>
              <p>&nbsp;&nbsp;
                Establecimiento
                <i class="right fas fa-angle-right"></i>
              </p>
            </a>
          </li>
          <li class="nav-item">
            <a [routerLink]="['/cupo']" class="nav-link">
              <i class="fas fa-tags"></i>
              <p>&nbsp;&nbsp;
                Cupos
                <i class="right fas fa-angle-right"></i>
              </p>
            </a>
          </li>
          <li class="nav-item">
            <a [routerLink]="['/noticia']" class="nav-link">
              <i class="fas fa-newspaper"></i>
              <p>&nbsp;&nbsp;
                Noticia
                <i class="right fas fa-angle-right"></i>
              </p>
            </a>
          </li>
          <li class="nav-item">
            <a [routerLink]="['/cliente']" class="nav-link">
              <i class="fas fa-users"></i>
              <p>&nbsp;&nbsp;
                Cliente
                <i class="right fas fa-angle-right"></i>
              </p>
            </a>
          </li>
        </div>
        <li class="nav-item">
          <a [routerLink]="['/reportes']" class="nav-link">
            <i class="fas fa-address-card"></i>
            <p>&nbsp;&nbsp;
              Reporte
              <i class="right fas fa-angle-right"></i>
            </p>
          </a>
        </li>
      </div>
    </ul>

  </div>
</aside>
