<div class="content-header">
  <div class="container-fluid">
    <div class="row mb-2">
      <div class="col-sm-6">
        <h1 class="m-0 text-dark">Registro</h1>
      </div>
      <div class="col-sm-6">
        <ol class="breadcrumb float-sm-right">
          <li class="breadcrumb-item"><a href="#">Inicio</a></li>
          <li class="breadcrumb-item active">Registro</li>
        </ol>
      </div>
    </div>
  </div>
</div>
<div class="container-fluid">
  <div class="row" *ngIf="enabled">
    <div class="col-md-12">
      <div class="scanner">
        <zxing-scanner (scanSuccess)="scanned($event)"
                       [formats]="['QR_CODE', 'EAN_13', 'CODE_128', 'DATA_MATRIX']"></zxing-scanner>
        <div class="alert alert-info">
          {{ codigo }}
        </div>
      </div>
      <!--			<button type="button" class="btn btn-info btn-sm btn-block">
              Leer Codigo
            </button>-->
    </div>
  </div>
  <div class="row">
    <div class="col-12 text-center">
      <button class="btn btn-primary" *ngIf="!enabled" (click)="enabled = true">HABILITAR</button>
    </div>
  </div>
</div>
<hr>
<section class="content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-3 col-6">
        <div class="small-box bg-info">
          <div class="inner">
            <h3>150</h3>
            <p>Numero de Ticket</p>
          </div>
          <div class="icon">
            <i class="ion ion-arrow-graph-up-left"></i>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-6">
        <div class="small-box bg-success">
          <div class="inner">
            <h3>50</h3>

            <p>Ticket Activos</p>
          </div>
          <div class="icon">
            <i class="ion ion-happy"></i>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-6">
        <div class="small-box bg-warning">
          <div class="inner">
            <h3>100</h3>

            <p>Ticket Inactivos</p>
          </div>
          <div class="icon">
            <i class="ion ion-android-archive"></i>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-6">
        <div class="small-box bg-danger">
          <div class="inner">
            <h3>2</h3>

            <p>Ticket Iresponsables</p>
          </div>
          <div class="icon">
            <i class="ion ion-sad"></i>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
