<div class="content-header">
  <div class="container-fluid">
    <div class="row mb-2">
      <div class="col-sm-6">
        <h1 class="m-0 text-dark">Registro</h1>
      </div>
      <div class="col-sm-6">
        <ol class="breadcrumb float-sm-right">
          <li class="breadcrumb-item"><a routerLink="/dashboard">Inicio</a></li>
          <li class="breadcrumb-item active">Registro</li>
        </ol>
      </div>
    </div>
  </div>
</div>
<div class="container-fluid" *ngIf="usuario !== null && (usuario.cargo.nombre === 'Técnico Logístico' && usuario.con_cupos === true)">
  <div class="row">
    <div class="col-md-12">
      <div class="scanner" *ngIf="!enabledMessage">
        <zxing-scanner (scanSuccess)="scanned($event)"
                       [formats]="['QR_CODE', 'EAN_13', 'CODE_128', 'DATA_MATRIX']"></zxing-scanner>
      </div>
      <div class="alert alert-{{message.class}}" *ngIf="enabledMessage" (click)="reset()">
        <h4 class="alert-heading">{{ message.heading}}</h4>
        <p>
          {{ message.text }}
        </p>
      </div>
    </div>
  </div>
</div>
<section class="content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-3 col-6">
        <div class="small-box bg-info">
          <div class="inner">
            <h3>{{ stats?.habilitados }}</h3>
            <p>Tickets Habilitados</p>
          </div>
          <div class="icon">
            <i class="ion ion-arrow-graph-up-left"></i>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-6">
        <div class="small-box bg-success">
          <div class="inner">
            <h3>{{ stats?.ingreso }}</h3>
            <p>Tickets Activos</p>
          </div>
          <div class="icon">
            <i class="ion ion-happy"></i>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-6">
        <div class="small-box bg-warning">
          <div class="inner">
            <h3>{{ stats?.salida }}</h3>
            <p>Tickets Consumidos</p>
          </div>
          <div class="icon">
            <i class="ion ion-android-archive"></i>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-6">
        <div class="small-box bg-danger">
          <div class="inner">
            <h3>{{ stats?.salida_retraso }}</h3>
            <p>Retrasos de Hoy</p>
          </div>
          <div class="icon">
            <i class="ion ion-sad"></i>
          </div>
        </div>
      </div>
    </div>
    <section class="content">
      <div class="container-fluid">
      <div class="card card-info card-outline">
        <div class="row">
          <div class="offset-lg-3 col-lg-6">
            <br>
            <h6 class="text-center">INGRESOS DE HOY {{ now | date: 'dd/MM/y'  }}</h6>
            <br>
            <div class="table-hover table-responsive table-sm">
              <table class="table table-striped">
                <thead>
                <tr>
                  <th class="text-center">Código</th>
                  <th>Nombre</th>
                  <th>Ingreso</th>
                </tr>
                </thead>
                <tbody>
                <tr *ngFor="let ingreso of ingresos; let i = index">
                  <td class="text-center">{{ ingreso.qr_id }}</td>
                  <td>{{ ingreso.nombre }}</td>
                  <td>{{ ingreso.ingreso | date: 'HH:mm:ss' }}</td>
                </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
      </div>
   </section>
    <br>
  </div>
</section>
