<section class="content-header">
  <div class="container-fluid">
    <div class="row mb-2">
      <div class="col-sm-6">
        <h1>Cupos</h1>
      </div>
      <div class="col-sm-6">
        <ol class="breadcrumb float-sm-right">
          <li class="breadcrumb-item"><a routerLink="/dashboard">Inicio</a></li>
          <li class="breadcrumb-item active">Cupos</li>
        </ol>
      </div>
    </div>
  </div>
</section>
<section class="content">
  <div class="container-fluid">
    <div class="card">
      <div class="card-header">
        <div class="container-fluid">
          <div class="row">
            <div class="col-md-10">
              <div class="form-group">
                <div class="input-group">
                  <div class="input-group-prepend">
                    <span class="input-group-text"><i class="fas fa-search"></i></span>
                  </div>
                  <input (input)="dt.filterGlobal($event.target.value, 'contains')" class="form-control"
                         placeholder="Buscador..."
                         style="width:auto" type="text">
                </div>
              </div>
            </div>
            <div class="col-md-2 text-center">
              <button class="btn btn-info btn-sm btn-block" routerLink="/cupo/create"><i class="fas fa-plus"></i>
                Agregar
              </button>
            </div>
          </div>
        </div>
        <p-table #dt [columns]="cols" [paginator]="true" [responsive]="true" [rows]="10" [value]="cupos">
          <ng-template let-columns pTemplate="header">
            <tr>
              <th class="text-center" style="width:50px">
                ID
              </th>
              <th class="text-center" style="width:150px">
                Estado
              </th>
              <th class="text-center">
                Establecimiento
              </th>
              <th class="text-center">
                Carga
              </th>
              <th class="text-center">
                Gasto
              </th>
              <th class="text-center">
                Saldo
              </th>
              <th class="text-center">
                Fecha Fin
              </th>
              <th class="text-center" style="width:160px">
                Acciones
              </th>
            </tr>
          </ng-template>
          <ng-template let-cupo let-rowData pTemplate="body">
            <tr>
              <td style="width:50px">
                {{cupo.id}}
              </td>
              <td *ngIf="cupo.estado === 1" class="text-center" style="width:150px">
                <span class="right badge badge-success">Activo</span>
              </td>
              <td *ngIf="cupo.estado !== 1" class="text-center" style="width:150px">
                <span class="right badge badge-warning">Inactivo</span>
              </td>
              <td>{{cupo.establecimiento}}</td>
              <td>{{cupo.carga}}</td>
              <td>{{cupo.gasto}}</td>
              <td>{{cupo.saldo}}</td>
              <td>{{cupo.fecha_fin}}</td>
              <td class="text-center" style="width:160px">
                <button (click)="activarCupo(cupo.id)" *ngIf="!cupo.estado" class="btn btn-default  btn-lg"
                        title="Activar Cupo">
                  <i class="fas fa-toggle-on"></i></button>

                <button (click)="inactivarCupo(cupo.id)" *ngIf="cupo.estado" class="btn btn-default  btn-lg"
                        title="Inactivar Cupo"><i
                  class="fas fa-toggle-off"></i></button>

                <button class="btn btn-warning  btn-sm" routerLink="/cupo/edit/{{cupo.id}}" title="Editar Cupo"><i
                  class="fas fa-edit"></i></button>

                <button [attr.data-target]="'#myModal'+cupo.id" class="btn btn-danger  btn-sm" data-toggle="modal"
                        type="button">
                  <i class="fas fa-trash-alt"></i>
                </button>
                <div class="modal" id="myModal{{cupo.id}}">
                  <div class="modal-dialog">
                    <div class="modal-content">
                      <div class="modal-header">
                        <h4 class="modal-title">¿Esta seguro de eliminar el Cupo?</h4>
                        <button class="close" data-dismiss="modal" type="button">&times;</button>
                      </div>
                      <div class="modal-body">
                        La cupo es de <strong>carga {{cupo.carga}}</strong> para el
                        <strong>establecimiento {{ cupo.establecimiento }}</strong>
                      </div>
                      <div class="modal-footer">
                        <button (click)="deleteCupo(cupo.id)" class="btn btn-danger" data-dismiss="modal">
                          Eliminar
                        </button>
                        <button class="btn btn-dark" data-dismiss="modal" type="button">Cerrar</button>
                      </div>
                    </div>
                  </div>
                </div>
              </td>
            </tr>
          </ng-template>
        </p-table>
      </div>
    </div>
  </div>
</section>


