<!-- Content Header (Page header) -->
<section class="content-header">
    <div class="container-fluid">
      <div class="row mb-2">
        <div class="col-sm-6">
          <h1>{{title}}</h1>
        </div>
        <div class="col-sm-6">
          <ol class="breadcrumb float-sm-right">
            <li class="breadcrumb-item"><a routerLink="/">Inicio</a></li>
            <li class="breadcrumb-item active">{{title}}</li>
          </ol>
        </div>
      </div>
    </div>
  </section>
  <!-- Main content -->
  <section class="content">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-12">
          <div class="card card-info card-outline">

            <form #createNoticiaForm="ngForm" (ngSubmit)="onSubmit(createNoticiaForm)">
              <div class="card-body">
                <div class="container-fluid">
                  <div class="row">
                    <div class="col-md-6"> 
                        <div class="form-group" *ngIf="empresas !== null">
                            <label><small class="requeridos">☼</small> Seleccione Empresa:</label>    
                            <div class="input-group">
                              <div class="input-group-prepend ">
                                <span class="input-group-text"><i class="fas fa-building "></i></span>
                              </div>
                              <ng-select [items]="empresas"
                                class="custom"
                                style="width: 86%;"
                                name="empresa_id"
                                #empresa_id="ngModel" [(ngModel)]="noticia.empresa_id"
                                bindLabel="nombre"
                                bindValue="empresa_id">
                                </ng-select>
                              <small *ngIf="!empresa_id.valid && empresa_id.touched" class="invalid-feedback d-block"> Seleccione una empresa</small>
                            </div>
                          </div>      
                      <div class="form-group">
                        <label><small class="requeridos">☼</small> Titular Noticia:</label>    
                        <div class="input-group">
                          <div class="input-group-prepend">
                            <span class="input-group-text"><i class="fa fa-newspaper-o"></i></span>
                          </div>
                          <input type="text" name="nombre" class="form-control" #nombre="ngModel" [(ngModel)]="noticia.nombre" required>
                        <small *ngIf="!nombre.valid && nombre.touched" class="invalid-feedback d-block"> El titulo no es
                          valido</small>
                        </div>
                      </div>
                      <div class="form-group">
                        <label><small class="requeridos">☼</small> Detalle:</label>    
                        <div class="input-group">
                          <div class="input-group-prepend">
                            <span class="input-group-text"><i class="fas fa-ad"></i></span>
                          </div>
                          <input type="text" name="detalle" class="form-control" #detalle="ngModel" [(ngModel)]="noticia.detalle" required>
                          <small *ngIf="!detalle.valid && detalle.touched" class="invalid-feedback d-block"> El detalle no es
                            valido</small>
                        </div>
                      </div> 
                      <div *ngIf=" title === 'Editar Noticia'" class="form-group btn-sm" >
                        <label><small class="requeridos">☼</small>  Seleccione Estado:</label>    
                        <div class="input-group">
                          <label class="container">Estado
                            <input  type="checkbox" checkbox="true" name="estado"  #estado="ngModel" [(ngModel)]="noticia.estado">
                            <span class="checkmark"></span>
                          </label>
                        </div>
                      </div>   
                      <br>
                    </div>
                    <div class="col-md-6">
                      <div class="form-group">
                        <label for="imagen">Seleccione Imagen:</label>
                        <angular-file-uploader [config]="afuConfig" [resetUpload]=resetVar
                          (ApiResponse)="avatarUpload($event)">
                        </angular-file-uploader>
                      </div> 
                      <div class="form-group">
                        <label><small class="requeridos">☼</small> Fecha Inicio:</label>    
                        <div class="input-group">
                          <div class="input-group-prepend">
                            <span class="input-group-text"><i class="fas fa-calendar"></i></span>
                          </div>
                          <input class="form-control" name="fechaini"  #fechaini="ngModel" [(ngModel)]="noticia.fecha_ini"
                          type="date" required>
                          <small *ngIf="!fechaini.valid && fechaini.touched" class="invalid-feedback d-block"> Campo Obligatorio                            valido</small>
                        </div>
                      </div> 
                      <div class="form-group">
                        <label><small class="requeridos">☼</small> Fecha Fin:</label>    
                        <div class="input-group">
                          <div class="input-group-prepend">
                            <span class="input-group-text"><i class="fas fa-calendar"></i></span>
                          </div>
                          <input class="form-control" name="fechafin"  #fechafin="ngModel" [(ngModel)]="noticia.fecha_fin"
                          type="date" required>
                          <small *ngIf="!fechafin.valid && fechafin.touched" class="invalid-feedback d-block"> Campo Obligatorio                            valido</small>
                        </div>
                      </div> 
                    </div>
                    <div class="contenedor-div botones-abajo-derecha">
                      <button type="submit" class="btn btn-success btn-sm" [disabled]="!createNoticiaForm.form.valid">
                        <i class="fas fa-save"></i>&nbsp;&nbsp; {{title}} </button>
                        &nbsp;&nbsp; &nbsp;&nbsp;
                      <button type="button" class="btn btn-danger btn-sm" routerLink="/noticias">
                      <i class="fas fa-arrow-left"></i>&nbsp;&nbsp; Cancelar</button>
                    </div>                   
                  </div>

                </div>

              </div> 

            </form>
          </div>
        </div>
        <!-- /.col -->
      </div>
      <!-- /.row -->
    </div>
    <!-- /.container-fluid -->
  </section>