<section class="content-header">
    <div class="container-fluid">
      <div class="row mb-2">
        <div class="col-sm-6">
          <h1>Paquetes</h1>
        </div>
        <div class="col-sm-6">
          <ol class="breadcrumb float-sm-right">
            <li class="breadcrumb-item"><a routerLink="/dashboard">Inicio</a></li>
            <li class="breadcrumb-item active">Paquetes</li>
          </ol>
        </div>
      </div>
    </div>
  </section>
  <section class="content">
    <div class="container-fluid">
      <div class="card">
        <div class="card-header">
          <div class="container-fluid">
            <div class="row">
              <div class="col-md-10">
                <div class="form-group">
                  <div class="input-group">
                    <div class="input-group-prepend">
                      <span class="input-group-text"><i class="fas fa-search"></i></span>
                    </div>
                    <input (input)="dt.filterGlobal($event.target.value, 'contains')" class="form-control" placeholder="Buscador..."
                           style="width:auto" type="text">
                  </div>
                </div>
              </div>
              <div class="col-md-2 text-center">
                <button class="btn btn-info btn-sm btn-block" routerLink="/paquete/create"><i class="fas fa-plus"></i>&nbsp;&nbsp;
                  Agregar
                </button>
              </div>
            </div>
          </div>
          <p-table #dt [columns]="cols" [paginator]="true" [responsive]="true" [rows]="20" [value]="paquetes">
            <ng-template let-columns pTemplate="header">
              <tr>
                <th class="text-center" style="width:50px">
                  ID
                </th>
                <th class="text-center" style="width:100px">
                  Estado
                </th>
                <th class="text-center">
                  Plan
                </th>
                <th class="text-center">
                  Cupo
                </th>
                <th class="text-center">
                  Valor
                </th>
                <th class="text-center" style="width:160px">
                  Acciones
                </th>
              </tr>
            </ng-template>
            <ng-template let-paquete let-rowData pTemplate="body">
              <tr>
                <td style="width:50px">
                  {{paquete.id}}
                </td>
                <td *ngIf="paquete.estado === 1" class="text-center" style="width:100px">
                  <span class="right badge badge-success">Activo</span>
                </td>
                <td *ngIf="paquete.estado !== 1" class="text-center" style="width:100px">
                  <span class="right badge badge-warning">Inactivo</span>
                </td>
                <td>{{paquete.plan | uppercase }}</td>
                <td>{{paquete.cupo}}</td>
                <td>{{paquete.valor | currency }}</td>
                <td class="text-center" style="width:160px">
                  <button class="btn btn-warning  btn-sm" routerLink="/paquete/edit/{{paquete.id}}"
                          title="Editar Paquete"><i
                    class="fas fa-edit"></i></button>
                  &nbsp;&nbsp;
                  <button [attr.data-target]="'#myModal'+paquete.id" class="btn btn-danger  btn-sm" data-toggle="modal"
                          type="button">
                    <i class="fas fa-trash-alt"></i>
                  </button>
                  <div class="modal" id="myModal{{paquete.id}}">
                    <div class="modal-dialog">
                      <div class="modal-content">
                        <div class="modal-header">
                          <h4 class="modal-title">¿Esta seguro de eliminar la paquete?</h4>
                          <button class="close" data-dismiss="modal" type="button">&times;</button>
                        </div>
                        <div class="modal-body">
                          El paquete ha eliminar es: {{paquete.plan}}
                        </div>
                        <div class="modal-footer">
                          <button (click)="deletepaquete(paquete.id)" class="btn btn-danger  btn-sm" data-dismiss="modal">
                            Eliminar
                          </button>
                          <button class="btn btn-dark" data-dismiss="modal" type="button">Close</button>
                        </div>
                      </div>
                    </div>
                  </div>
                </td>
              </tr>
            </ng-template>
          </p-table>
        </div>
      </div>
    </div>
  </section>
  
  
  