<div class="login-box" style="background-color: rgba(255, 255, 255, 0.200);">
  <div class="login-logo">
    <!-- <a href="#"><b>DTM </b>READY</a> -->
    <img src="./../../assets/img/logo.png" alt="" width="90%">
    <br><br>
  </div>
  <!-- /.login-logo -->
  <div class="card">
    <div class="card-body login-card-body">
      <p class="login-box-msg">Inicia sesión para comenzar</p>

      <!-- <form [formGroup]="loginForm"> -->
        <form #loginForm="ngForm" (ngSubmit)="onSubmit(loginForm)" class="form-signin">  
        <div class="input-group mb-3">
          <input type="email" name="email" class="form-control" #email="ngModel" [(ngModel)]="user.email" required pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$" placeholder="Ingrese Email" autofocus="autofocus">
          <div class="input-group-append">
            <div class="input-group-text">
              <span class="fas fa-envelope"></span>
            </div>
          </div>
        <small *ngIf="!email.valid && email.touched" class="invalid-feedback d-block"> El email no es valido</small>
        </div>
        <div class="input-group mb-3">
          <input type="password" name="password" class="form-control" #password="ngModel" [(ngModel)]="user.password" required placeholder="Ingrese Contraseña">
          <div class="input-group-append">
            <div class="input-group-text">
              <span class="fas fa-lock"></span>
            </div>
          </div>
        <small *ngIf="!password.valid && password.touched" class="invalid-feedback d-block"> La contraseña no es valido</small>
        </div>
        <div class="row">
          <div class="col-8">
            <div class="custom-control custom-checkbox">
              <label for="rememberMe">NORDENT RX</label>
            </div>
          </div>
          <!-- /.col -->
          <div class="col-4">            
            <input type="submit" value="Entrar" class="btn btn-primary btn-block btn-flat" [disabled]="!loginForm.form.valid" />				
          </div>
          <!-- /.col -->
        </div>
      </form>
      <br>
      <hr>
      <p class="mb-1 text-center">
        <a href="https://dtmowed.org/" target="_blank">Copyright ©℗® <strong>DTMOWED CIA. LTDA.</strong></a>
      </p>

    </div>
    <!-- /.login-card-body -->
  </div>
</div>