<div class="login-box" style="background-color: rgba(255, 255, 255, 0.200);">
  <div class="login-logo">
    <img alt="" src="assets/img/logo.png" width="90%">
    <br>
  </div>
  <div class="card">
    <div class="card-body login-card-body">
      <p class="login-box-msg">Inicia sesión para comenzar</p>
      <form #loginForm="ngForm" (ngSubmit)="onSubmit(loginForm)" class="form-signin">
        <div class="input-group mb-3">
          <input #cuenta="ngModel" [(ngModel)]="user.cuenta" autofocus="autofocus" class="form-control" name="cuenta"
                 placeholder="Ingrese Cuenta"
                 required type="cuenta">
          <div class="input-group-append">
            <div class="input-group-text">
              <span class="fas fa-user"></span>
            </div>
          </div>
          <small *ngIf="!cuenta.valid && cuenta.touched" class="invalid-feedback d-block">
            El cuenta no es válida
          </small>
        </div>
        <div class="input-group mb-3">
          <input #password="ngModel" [(ngModel)]="user.password" class="form-control" name="password"
                 placeholder="Ingrese Contraseña"
                 required type="password">
          <div class="input-group-append">
            <div class="input-group-text">
              <span class="fas fa-lock"></span>
            </div>
          </div>
          <small *ngIf="!password.valid && password.touched" class="invalid-feedback d-block"> La contraseña no es
            valido</small>
        </div>
        <div class="mb-1 text-center">
          <br>
          <button [disabled]="loginForm.form.invalid" class="btn btn-info btn-sm" type="submit">
            <i class="fa fa-lock-open"></i>&nbsp;&nbsp; Iniciar Sesión
          </button>
        </div>
      </form>
      <br>
      <hr>
      <p class="mb-1 text-center">
        <a href="https://dtmowed.com/" target="_blank">Copyright © DTMOWED CIA. LTDA.</a>
      </p>
    </div>
  </div>
</div>
