<nav class="main-header navbar navbar-expand navbar-white navbar-light">
  <ul class="navbar-nav">
    <li class="nav-item">
      <a class="nav-link" (click)="toggleMenuSidebar.emit()"><i class="fas fa-bars"></i></a>
    </li>
    <li class="nav-item d-none d-sm-inline-block">
      <a [routerLink]="['/dashboard']" class="nav-link"> {{identity.establecimiento}} </a>
    </li>
  </ul>
  <ul class="navbar-nav ml-auto">
    <li class="nav-item dropdown" *ngIf="identity.cargo_id === 1">
      <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
        aria-haspopup="true" aria-expanded="false">
        <i class="fas fa-cogs" style="color: #007ad9"></i> &nbsp; Configuración
      </a>
      <div class="dropdown-menu" aria-labelledby="navbarDropdown">
        <div >
          <a class="dropdown-item" routerLink="/cargo"><i class="fas fa-poll-h"></i> &nbsp;&nbsp; Cargos</a>
        </div>
        <div class="dropdown-divider"></div>
        <a class="dropdown-item" routerLink="/usuario"><i class="fas fa-user-cog"></i> &nbsp;&nbsp; Usuarios</a>
      </div>
    </li>
    <li class="nav-item">
      <a class="nav-link" (click)="logout()">
        Salir &nbsp;<i class="fas fa-power-off" style="color: #dc3545;"></i>
      </a>
    </li>
  </ul>
</nav>