<section class="content-header">
    <div class="container-fluid">
      <div class="row mb-2">
        <div class="col-sm-6">
          <h1>{{title}}</h1>
        </div>
        <div class="col-sm-6">
          <ol class="breadcrumb float-sm-right">
            <li class="breadcrumb-item"><a routerLink="/">Inicio</a></li>
            <li class="breadcrumb-item active">{{title}}</li>
          </ol>
        </div>
      </div>
    </div>
  </section>

  <section class="content">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-12">
          <div class="card card-info card-outline">
            <form #createEmpresaForm="ngForm" (ngSubmit)="onSubmit(createEmpresaForm)">
              <div class="card-body">
                <div class="container-fluid">
                  <div class="row">
                    <div class="col-md-4">       
                      <div class="form-group btn-sm">
                        <label> N° Documento:</label>    
                        <div class="input-group">
                          <div class="input-group-prepend">
                            <span class="input-group-text"><i class="fas fa-file"></i></span>
                          </div>
                          <input type="number" name="documento" class="form-control" #documento="ngModel" [(ngModel)]="empresa.documento" >
                        <small *ngIf="!documento.valid && documento.touched" class="invalid-feedback d-block"> El Documento no es
                          valido</small>
                        </div>
                      </div>
                      <div class="form-group btn-sm">
                        <label> <small class="requeridos">☼</small>  Nombre Establecimiento:</label>    
                        <div class="input-group">
                          <div class="input-group-prepend">
                            <span class="input-group-text"><i class="fas fa-building"></i></span>
                          </div>
                          <input type="text" name="nombre" class="form-control" #nombre="ngModel" [(ngModel)]="empresa.nombre" required>
                        <small *ngIf="!nombre.valid && nombre.touched" class="invalid-feedback d-block"> El nombre no es
                          valida</small>
                        </div>
                      </div>
                      <div class="form-group btn-sm">
                        <label>Actividad Económica:</label>    
                        <div class="input-group">
                          <div class="input-group-prepend">
                            <span class="input-group-text"><i class="fas fa-bullseye"></i></span>
                          </div>
                          <input type="text" name="actividad" class="form-control" #actividad="ngModel" [(ngModel)]="empresa.actividad">
                        </div>
                      </div>
                      <div class="form-group btn-sm">
                        <label><small class="requeridos">☼</small>  Dirección:</label>    
                        <div class="input-group">
                          <div class="input-group-prepend">
                            <span class="input-group-text"><i class="fas fa-map-marked-alt"></i></span>
                          </div>
                          <input type="text" name="direccion" class="form-control" #direccion="ngModel" [(ngModel)]="empresa.direccion" required >
                        <small *ngIf="!direccion.valid && direccion.touched" class="invalid-feedback d-block"> La dirección no es valido</small>
                        </div>
                      </div>
                    </div>
                    <div class="col-md-4"> 
                      <div class="form-group btn-sm">
                        <label><small class="requeridos">☼</small>  Teléfono:</label>    
                        <div class="input-group">
                          <div class="input-group-prepend">
                            <span class="input-group-text"><i class="fas fa-phone"></i></span>
                          </div>
                          <input type="number" name="telefono" class="form-control" #telefono="ngModel" [(ngModel)]="empresa.telefono"
                          required pattern="[0-9]{8,12}">
                        <small *ngIf="!telefono.valid && telefono.touched" class="invalid-feedback d-block"> El teléfono no es
                          valido</small>
                        </div>
                      </div>
                      <div class="form-group btn-sm">
                        <label><small class="requeridos">☼</small>  Email:</label>    
                        <div class="input-group">
                          <div class="input-group-prepend">
                            <span class="input-group-text"><i class="fas fa-envelope-square"></i></span>
                          </div>
                          <input type="email" name="email" class="form-control" #email="ngModel" [(ngModel)]="empresa.email"
                          required pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$">
                        <small *ngIf="!email.valid && email.touched" class="invalid-feedback d-block"> El email no es
                          valido</small>
                        </div>
                      </div>
                      <div class="form-group btn-sm">
                        <label for="logo">Seleccione Logo:</label>
                        <angular-file-uploader [config]="afuConfig" [resetUpload]=resetVar
                          (ApiResponse)="avatarUpload($event)">
                        </angular-file-uploader>
                      </div> 
                      <div class="form-group-sm" *ngIf="planes !== null">
                        <label><small class="requeridos">☼</small> Seleccione Tipo Plan:</label>
                        <div class="input-group">
                          <div class="input-group-prepend ">
                            <span class="input-group-text"><i class="fas fa-building "></i></span>
                          </div>
                          <ng-select [items]="planes"
                                     class="custom"
                                     style="width: 86%;"
                                     name="plan_id"
                                     #plan_id="ngModel" [(ngModel)]="empresa.plan_id"
                                     bindLabel="nombre"
                                     bindValue="id"
                                     required>
                          </ng-select>
                          <small *ngIf="!plan_id.valid && plan_id.touched" class="invalid-feedback d-block"> Campo
                            Obligatorio</small>
                        </div>
                      </div>
                    </div>
                    <div class="col-md-4">
                      <div class="form-group btn-sm">
                        <label><small class="requeridos">☼</small>  Capacidad:</label>    
                        <div class="input-group">
                          <div class="input-group-prepend">
                            <span class="input-group-text"><i class="fas fa-users"></i></span>
                          </div>
                          <input type="number" name="capacidad" class="form-control" #capacidad="ngModel" [(ngModel)]="empresa.capacidad"
                          required>
                        <small *ngIf="!capacidad.valid && capacidad.touched" class="invalid-feedback d-block"> La capacidad no es
                          valido</small>
                        </div>
                      </div>

                      <div class="form-group btn-sm">
                        <label><small class="requeridos">☼</small>  Estancia en Minutos:</label>    
                        <div class="input-group">
                          <div class="input-group-prepend">
                            <span class="input-group-text"><i class="fas fa-clock-o"></i></span>
                          </div>
                          <input type="text" name="estancia" class="form-control" #estancia="ngModel" [(ngModel)]="empresa.estancia"
                          required>
                        <small *ngIf="!estancia.valid && estancia.touched" class="invalid-feedback d-block"> La estancia no es
                          valido</small>
                        </div>
                      </div>

                      <div class="form-group btn-sm">
                        <label><small class="requeridos">☼</small>  Hora Cierre:</label>    
                        <div class="input-group">
                          <div class="input-group-prepend">
                            <span class="input-group-text"><i class="fas fa-clock"></i></span>
                          </div>
                          <input type="time" name="cierre" class="form-control" #cierre="ngModel" [(ngModel)]="empresa.cierre"
                          required>
                        <small *ngIf="!cierre.valid && cierre.touched" class="invalid-feedback d-block"> La  de hora cierre no es
                          valido</small>
                        </div>
                      </div>
                      <div class="form-group btn-sm" >
                        <label><small class="requeridos">☼</small>  Publicar:</label>    
                        <div class="input-group">
                          <label class="container">Seleccione
                            <input  type="checkbox" checkbox="true" name="publicar"  #publicar="ngModel" [(ngModel)]="empresa.publicar">
                            <span class="checkmark"></span>
                          </label>
                        </div>
                      </div> 
                      <div *ngIf=" title === 'Editar Establecimiento'" class="form-group btn-sm" >
                        <label><small class="requeridos">☼</small>  Activar Estado:</label>    
                        <div class="input-group">
                          <label class="container">Seleccione
                            <input  type="checkbox" checkbox="true" name="estado"  #estado="ngModel" [(ngModel)]="empresa.estado">
                            <span class="checkmark"></span>
                          </label>
                        </div>
                      </div>     
                      
                    </div>
                  </div>
                </div>
              </div> 
              <br>
              <br>
              <div class="contenedor-div botones-abajo-derecha">
                <button type="submit" class="btn btn-success btn-sm" [disabled]="!createEmpresaForm.form.valid">
                  <i class="fas fa-save"></i>&nbsp;&nbsp; {{title}} </button>
                  &nbsp;&nbsp; &nbsp;&nbsp;
                <button type="button" class="btn btn-danger btn-sm" routerLink="/empresa">
                <i class="fas fa-arrow-left"></i>&nbsp;&nbsp; Cancelar</button>
                <hr>
              </div>
            </form>
          </div>       
        </div>
      </div>
    </div>
  </section>