<section class="content-header">
  <div class="container-fluid">
    <div class="row mb-2">
      <div class="col-sm-6">
        <h1>Noticias</h1>
      </div>
      <div class="col-sm-6">
        <ol class="breadcrumb float-sm-right">
          <li class="breadcrumb-item"><a routerLink="/dashboard">Inicio</a></li>
          <li class="breadcrumb-item active">Noticias</li>
        </ol>
      </div>
    </div>
  </div>
</section>
<section class="content">
  <div class="container-fluid">
    <div class="card">
      <div class="card-header">
        <div class="container-fluid">
          <div class="row">
            <div class="col-md-10">
              <div class="form-group">
                <div class="input-group">
                  <div class="input-group-prepend">
                    <span class="input-group-text"><i class="fas fa-search"></i></span>
                  </div>
                  <input (input)="dt.filterGlobal($event.target.value, 'contains')" class="form-control" placeholder="Buscador..."
                         style="width:auto" type="text">
                </div>
              </div>
            </div>
            <div class="col-md-2 text-center">
              <button class="btn btn-info btn-sm btn-block" routerLink="/noticia/create"><i class="fas fa-plus"></i>&nbsp;&nbsp;
                Agregar
              </button>
            </div>
          </div>
        </div>
        <p-table #dt [columns]="cols" [paginator]="true" [responsive]="true" [rows]="20" [value]="noticias">
          <ng-template let-columns pTemplate="header">
            <tr>
              <th class="text-center" style="width:50px">
                ID
              </th>
              <th class="text-center" style="width:100px">
                Estado
              </th>
              <th class="text-center">
                Establecimiento
              </th>
              <th class="text-center">
                Titulo
              </th>
              <th class="text-center">
                Fecha Fin
              </th>
              <th class="text-center">
                Imagen
              </th>
              <th class="text-center" style="width:160px">
                Acciones
              </th>
            </tr>
          </ng-template>
          <ng-template let-noticia let-rowData pTemplate="body">
            <tr>
              <td style="width:50px">
                {{noticia.id}}
              </td>
              <td *ngIf="noticia.estado === 1" class="text-center" style="width:100px">
                <span class="right badge badge-success">Activo</span>
              </td>
              <td *ngIf="noticia.estado !== 1" class="text-center" style="width:100px">
                <span class="right badge badge-warning">Inactivo</span>
              </td>
              <td>{{noticia.establecimiento | uppercase}}</td>
              <td>{{noticia.titulo}}</td>
              <td>{{noticia.fecha_fin}}</td>
              <td class="text-center">
                <span *ngIf="!noticia.image" class="badge badge-danger">Sin imagen</span>
                <div *ngIf="noticia.image" class="text-center">
                  <img alt="noticia" src="{{base + 'noticia/imagen/' + noticia.image}}" width="50px"/>
                </div>
              </td>

              <td class="text-center" style="width:160px">
                <button class="btn btn-warning  btn-sm" routerLink="/noticia/edit/{{noticia.id}}"
                        title="Editar Persona"><i
                  class="fas fa-edit"></i></button>
                &nbsp;&nbsp;
                <button [attr.data-target]="'#myModal'+noticia.id" class="btn btn-danger  btn-sm" data-toggle="modal"
                        type="button">
                  <i class="fas fa-trash-alt"></i>
                </button>
                <div class="modal" id="myModal{{noticia.id}}">
                  <div class="modal-dialog">
                    <div class="modal-content">
                      <div class="modal-header">
                        <h4 class="modal-title">¿Esta seguro de eliminar la Noticia?</h4>
                        <button class="close" data-dismiss="modal" type="button">&times;</button>
                      </div>
                      <div class="modal-body">
                        La noticia ha eliminar es: {{noticia.titulo}}
                      </div>
                      <div class="modal-footer">
                        <button (click)="deleteNoticia(noticia.id)" class="btn btn-danger  btn-sm" data-dismiss="modal">
                          Eliminar
                        </button>
                        <button class="btn btn-dark" data-dismiss="modal" type="button">Close</button>
                      </div>
                    </div>
                  </div>
                </div>
              </td>
            </tr>
          </ng-template>
        </p-table>
      </div>
    </div>
  </div>
</section>


