<section class="content-header">
  <div class="container-fluid">
    <div class="row mb-2">
      <div class="col-sm-6">
        <h1>{{title}}</h1>
      </div>
      <div class="col-sm-6">
        <ol class="breadcrumb float-sm-right">
          <li class="breadcrumb-item"><a [routerLink]="'[/]'">Inicio</a></li>
          <li class="breadcrumb-item active">{{title}}</li>
        </ol>
      </div>
    </div>
  </div>
  <!-- /.container-fluid -->
</section>
<!-- Main content -->
<section class="content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <div class="card card-info card-outline">
          <form #createUserForm="ngForm" *ngIf="user !== null" (ngSubmit)="onSubmit(createUserForm)">
            <div class="card-body">
              <div class="container-fluid">
                <div class="row">
                  <div class="col-md-4">
                    <div class="form-group btn-sm">
                      <label> <small class="requeridos">☼</small> Cédula / Ruc::</label>
                      <div class="input-group">
                        <div class="input-group-prepend">
                          <span class="input-group-text"><i class="fas fa-sort-numeric-up-alt "></i></span>
                        </div>
                        <input type="text" name="cedula" class="form-control" #cedula="ngModel"
                               [(ngModel)]="user.cedula"
                               required>
                        <small *ngIf="!cedula.valid && cedula.touched" class="invalid-feedback d-block">Campo
                          Incorrecto</small>
                      </div>
                    </div>
                    <div class="form-group btn-sm">
                      <label> <small class="requeridos">☼</small> Nombres:</label>
                      <div class="input-group">
                        <div class="input-group-prepend">
                          <span class="input-group-text"><i class="fas fa-user "></i></span>
                        </div>
                        <input type="text" name="nombre" class="form-control" #nombre="ngModel"
                               [(ngModel)]="user.nombre"
                               required pattern="[a-zA-Z ]*">
                        <small *ngIf="!nombre.valid && nombre.touched" class="invalid-feedback d-block">Campo
                          Incorrecto</small>
                      </div>
                    </div>
                    <div class="form-group btn-sm">
                      <label> <small class="requeridos">☼</small> Email:</label>
                      <div class="input-group">
                        <div class="input-group-prepend">
                          <span class="input-group-text"><i class="fas fa-envelope-square "></i></span>
                        </div>
                        <input type="email" name="email" class="form-control" #email="ngModel" [(ngModel)]="user.email"
                               required pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$">
                        <small *ngIf="!email.valid && email.touched" class="invalid-feedback d-block">Campo
                          Incorrecto</small>
                      </div>
                    </div>
                    <div class="form-group btn-sm">
                      <label> <small class="requeridos">☼</small> Dirección:</label>
                      <div class="input-group">
                        <div class="input-group-prepend">
                          <span class="input-group-text"><i class="fas fa-map-marked-alt "></i></span>
                        </div>
                        <input type="text" name="direccion" class="form-control" #direccion="ngModel"
                               [(ngModel)]="user.direccion" required>
                        <small *ngIf="!direccion.valid && direccion.touched" class="invalid-feedback d-block">Campo
                          Incorrecto</small>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-4">
                    <div class="form-group btn-sm">
                      <label> <small class="requeridos">☼</small> Teléfono:</label>
                      <div class="input-group">
                        <div class="input-group-prepend">
                          <span class="input-group-text"><i class="fas fa-phone-volume "></i></span>
                        </div>
                        <input type="number" name="telefono" class="form-control" #telefono="ngModel"
                               [(ngModel)]="user.telefono" required>
                        <small *ngIf="!telefono.valid && telefono.touched" class="invalid-feedback d-block">Campo
                          Incorrecto</small>
                      </div>
                    </div>
                    <div *ngIf="title === 'Crear Usuario'">
                      <div class="form-group btn-sm">
                        <label> <small class="requeridos">☼</small> Contraseña:</label>
                        <div class="input-group">
                          <div class="input-group-prepend">
                            <span class="input-group-text"><i class="fas fa-key "></i></span>
                          </div>
                          <input type="password" name="password" class="form-control" #password="ngModel"
                                 [(ngModel)]="user.password" required minlength="6">
                          <small *ngIf="!password.valid && password.touched" class="invalid-feedback d-block">
                            La contraseña debe tener 6 caracteres minimo.</small>
                        </div>
                      </div>
                      <div class="form-group btn-sm">
                        <label> <small class="requeridos">☼</small> Repetir Contraseña:</label>
                        <div class="input-group">
                          <div class="input-group-prepend">
                            <span class="input-group-text"><i class="fas fa-key "></i></span>
                          </div>
                          <input type="password" name="password2" class="form-control" #password2="ngModel"
                                 [(ngModel)]="user.password2" required minlength="6">
                          <small *ngIf="!password2.valid && password2.touched" class="invalid-feedback d-block">
                            La contraseña debe tener 6 caracteres minimo.</small>
                        </div>
                      </div>
                    </div>


                    <div class="form-group btn-sm">
                      <label>Fecha Nacimiento:</label>
                      <div class="input-group">
                        <div class="input-group-prepend">
                          <span class="input-group-text"><i class="far fa-calendar-alt "></i></span>
                        </div>
                        <input type="date" name="fecha_nacimiento" class="form-control" #fecha_nacimiento="ngModel"
                               [(ngModel)]="user.fecha_nacimiento">
                      </div>
                    </div>
                  </div>
                  <div class="col-md-4">

                    <div class="form-group" *ngIf="cargos !== null">
                      <label><small class="requeridos">☼</small> Seleccione Cargo:</label>
                      <div class="input-group">
                        <div class="input-group-prepend ">
                          <span class="input-group-text"><i class="fas fa-building "></i></span>
                        </div>
                        <ng-select [items]="cargos"
                                   class="custom"
                                   style="width: 86%;"
                                   name="cargo_id"
                                   #cargo_id="ngModel" [(ngModel)]="user.cargo_id"
                                   bindLabel="nombre"
                                   bindValue="id"
                                   required>
                        </ng-select>
                        <small *ngIf="!cargo_id.valid && cargo_id.touched" class="invalid-feedback d-block"> Campo
                          Obligatorio</small>
                      </div>
                    </div>
                    <div class="form-group btn-sm">
                      <label for="image">Seleccione Foto:</label>
                      <angular-file-uploader [config]="afuConfig" [resetUpload]=resetVar
                                             (ApiResponse)="avatarUpload($event)">
                      </angular-file-uploader>
                    </div>

                    <div class="contenedor-div botones-abajo-derecha">
                      <button type="submit" class="btn btn-success btn-sm" [disabled]="!createUserForm.form.valid">
                        <i class="fas fa-save"></i>&nbsp;&nbsp; {{title}} </button>
                      &nbsp;&nbsp; &nbsp;&nbsp;
                      <button type="button" class="btn btn-danger btn-sm" routerLink="/usuario">
                        <i class="fas fa-arrow-left"></i>&nbsp;&nbsp; Cancelar
                      </button>
                    </div>

                  </div>
                </div>
              </div>
            </div>

          </form>
        </div>
      </div>
      <!-- /.col -->
    </div>
    <!-- /.row -->
  </div>
  <!-- /.container-fluid -->
</section>
