<section class="content-header">
  <div class="container-fluid">
    <div class="row mb-2">
      <div class="col-sm-6">
        <h1>Mi Perfil</h1>
      </div>
      <div class="col-sm-6">
        <ol class="breadcrumb float-sm-right">
          <li class="breadcrumb-item"><a [routerLink]="'[/]'">Inicio</a></li>
          <li class="breadcrumb-item active">Mi perfil</li>
        </ol>
      </div>
    </div>
  </div>
  <!-- /.container-fluid -->
</section>
<!-- Main content -->
<section class="content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-3">
        <!-- Profile Image -->
        <div class="card card-info card-outline">
          <div class="card-body box-profile"  *ngIf="identity">
            <div class="text-center" *ngIf="identity.image">
              <img class="profile-user-img img-fluid img-circle" src="{{base + 'user/avatar/' + identity.image}}"
                alt="User" />
            </div>
            <h3 class="profile-username text-center btn-sm" *ngIf="identity.name">{{identity.name}}</h3>
            <ul class="list-group list-group-unbordered mb-3 btn-sm">
              <li class="list-group-item" *ngIf="identity.telefono">
                <b>Telefono</b> <a class="float-right">{{identity.telefono}}</a>
              </li>
              <li class="list-group-item" *ngIf="identity.email">
                <b>Email</b> <a class="float-right">{{identity.email}}</a>
              </li>
              <li class="list-group-item" *ngIf="identity.direccion">
                <b>Dirección</b> <a class="float-right">{{identity.direccion}}</a>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="col-md-9">
        <div class="card card-info">
          <form #editUserForm="ngForm" (ngSubmit)="onSubmit(editUserForm)">
            <div class="card-body">
              <div class="container-fluid">
                <div class="row">

                  <div class="col-md-6">       
                    <div class="form-group btn-sm">
                      <label>Cédula / Ruc::</label>    
                      <div class="input-group">
                        <div class="input-group-prepend">
                          <span class="input-group-text"><i class="fas fa-sort-numeric-up-alt requeridos"></i></span>
                        </div>
                        <input type="text" name="cedula" class="form-control" #cedula="ngModel" [(ngModel)]="user.cedula"
                        required placeholder="Ejm: 1003833445">
                      <small *ngIf="!cedula.valid && cedula.touched" class="invalid-feedback d-block"> La cédula o pasaporte no es
                        valido</small>
                      </div>
                    </div>
 
                    <div class="form-group btn-sm">
                      <label>Nombres:</label>    
                      <div class="input-group">
                        <div class="input-group-prepend">
                          <span class="input-group-text"><i class="fas fa-user requeridos"></i></span>
                        </div>
                        <input type="text" name="name" class="form-control" #name="ngModel" [(ngModel)]="user.name"
                        required pattern="[a-zA-Z ]*" placeholder="Ejm: Carlos Aldas">
                      <small *ngIf="!name.valid && name.touched" class="invalid-feedback d-block"> El nombre no es
                        valido</small>
                      </div>
                    </div>

                    <div class="form-group btn-sm">
                      <label>Email:</label>    
                      <div class="input-group">
                        <div class="input-group-prepend">
                          <span class="input-group-text"><i class="fas fa-envelope-square requeridos"></i></span>
                        </div>
                        <input type="email" name="email" class="form-control" #email="ngModel" [(ngModel)]="user.email"
                        required pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$">
                      <small *ngIf="!email.valid && email.touched" class="invalid-feedback d-block"> El email no es
                        valido</small>
                      </div>
                    </div>
               
                    <div class="form-group btn-sm">
                      <label>Dirección:</label>    
                      <div class="input-group">
                        <div class="input-group-prepend">
                          <span class="input-group-text"><i class="fas fa-map-marked-alt requeridos"></i></span>
                        </div>
                        <input type="text" name="direccion" class="form-control" #direccion="ngModel"
                        [(ngModel)]="user.direccion" required pattern="[a-zA-Z ]*">
                      <small *ngIf="!direccion.valid && direccion.touched" class="invalid-feedback d-block"> La
                        dirección no es valida</small>
                      </div>
                    </div>

                  </div>

                  <div class="col-md-6">
                    <div class="form-group btn-sm">
                      <label>Teléfono:</label>    
                      <div class="input-group">
                        <div class="input-group-prepend">
                          <span class="input-group-text"><i class="fas fa-phone-volume requeridos"></i></span>
                        </div>
                        <input type="text" name="telefono" class="form-control" #telefono="ngModel"
                        [(ngModel)]="user.telefono" required>
                      <small *ngIf="!telefono.valid && telefono.touched" class="invalid-feedback d-block"> El teléfono no es valido</small>
                      </div>
                    </div>
                    
                    <div class="form-group btn-sm">
                      <label>Fecha Nacimiento:</label>    
                      <div class="input-group">
                        <div class="input-group-prepend">
                          <span class="input-group-text"><i class="far fa-calendar-alt requeridos"></i></span>
                        </div>
                        <p-calendar class="lf-calendar" name="fecha_nacimiento" #fecha_nacimiento="ngModel" [(ngModel)]="user.fecha_nacimiento" dateFormat="yy-mm-dd" 
                        [locale]="es" inputStyleClass="primeNgCalendarInput" [monthNavigator]="true" [yearNavigator]="true" 
                        yearRange="1940:2005" required></p-calendar>
                        <small *ngIf="!fecha_nacimiento.valid && fecha_nacimiento.touched" class="invalid-feedback d-block"> Ingrese fecha de nacimiento</small>
                      </div>
                    </div>
                    <div class="form-group btn-sm">
                      <label for="image">Seleccione Foto:</label>
                      <angular-file-uploader [config]="afuConfig" [resetUpload]=resetVar
                        (ApiResponse)="avatarUpload($event)">
                      </angular-file-uploader>
                    </div>
                    <div class="contenedor-div botones-abajo-derecha">
                      <button type="submit" class="btn btn-success btn-sm" [disabled]="!editUserForm.form.valid">
                        <i class="fas fa-save"></i>&nbsp;&nbsp; Guardar Cambios </button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
           
          </form>
        </div>
      </div>
      <!-- /.col -->
    </div>
    <!-- /.row -->
  </div>
  <!-- /.container-fluid -->
</section>